
/*
.md-input {
  transition: background-color .3s ease-in-out !important;

  &.changed {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}
*/

.md-card-header {
  // background-color: red !important;
  padding: 0px 16px !important;
}
